.root{
  color: #F2F2F2;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: flex;

  svg{
    margin: auto 11px auto auto;
  }
  span{
    margin: auto;
    font-size: 12px;
  }
}

.small{
  width: 69px;
  height: 33px;
}

.medium{
  width: 83px;
  height: 33px;
}

.large{
  width: 98px;
  height: 33px;
}

.vlarge{
  width: 105px;
  height: 33px;
}

.vvlarge{
  padding: 9px 16px;
}

.green{
  background: #27AE60;
}