@import "scss/index";

.root{
  position: relative;
  @media screen and (min-width: $container-lg) {
    width: $container-lg;
  }
  margin: auto;
}

.white{
  background-color: #fff;
}

.title{
  font-size: 24px;
  color: #000;
}

.content{
  display: flex;
  margin-top: 23px;
}

.tags{
  margin-left: 22px;
}