@import "scss/index";

.root {
  width: 100%;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover{
    .square, .cover{
      box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.5);
    }
  }
  &.deleted{
    cursor: initial;
    &:hover {
      .square, .cover {
        box-shadow: none;
      }

    }
  }
}


.square {
  position: relative;
  border-radius: 5px;
  background-color: #2D9CDB;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cover {
  position: relative;
  border-radius: 5px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
.cover:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.favorite {
  position: absolute;
  top: 15px;
  right: 15px;
}

.dots {
  position: absolute;
  top: 15px;
  right: 15px;
}

.title {
  @media screen and (min-width: $container-lg) {
    font-size: 14px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 10px;
  }
  text-align: center;
  color: #000;
  max-width: 192px;
  margin: 16px auto auto auto;
}
