@import "scss/index";

.root{
  margin-top: 16px;
}

.container{
  text-decoration: none;
  @media screen and (min-width: $sm-mid) {
    display: flex;
  }
}

.square{
    width: 193px;
    margin: auto;
  @media screen and (max-width: $sm-max) {
    width: 128px;
  }
  border-radius: 5px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cover{
  border-radius: 5px;
  width: 193px;
  height: 193px;
  margin: auto;
  @media screen and (max-width: $sm-max) {
    width: 128px;
    height: 128px;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    }
}

.title{
  @media screen and (min-width: $container-lg) {
    font-size: 14px;
  }
  @media screen and (max-width: $sm-max) {
    font-size: 10px;
  }
  text-align: center;
  color: #000;
  max-width: 150px;
  margin: 16px auto auto auto;
}
