@import "../../../../scss/index";

.root{
  font-weight: bold;
  font-size: 12px;

}

.totalViews{
  margin-top: 20px;
  @media screen and (max-width: $sm-max) {
    margin-top: 14px;
  }
}
.date{
  margin-top: 20px;
  @media screen and (max-width: $sm-max) {
    margin-top: 14px;
  }
}
.speakers{

  margin-top: 20px;
  @media screen and (max-width: $sm-max) {
    margin-top: 14px;
  }
  vertical-align:middle;
  .label{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    margin-right: 8px;
    vertical-align: middle;
  }
}
.speakerWrapper{
  display: inline-block;
  vertical-align: middle;

}
.speaker{
  color: #000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  .speakerName{
    margin-left: 8px;
    font-size: 12px;
    color: #000;
    font-weight: bold;
  }
  margin-right: 8px;
  &:hover{
    text-decoration: underline;
  }
}
.presenters{
  display: inline-block;
  vertical-align: middle;
}