@import "../../../../scss/index";

.root{
  font-weight: bold;
  font-size: 12px;
  div{
    margin-top: 20px;
  }
  @media screen and (max-width: $sm-max) {
    div{
      margin-top: 14px;
    }
  }
}