@import "scss/index";
.root{

  display: flex;
  cursor: pointer;
  &.video{

    display: flex;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    align-items: center;
    padding: 0px 5px;
  }
  &.project{
    svg{
      path{
        fill: white;
      }
    }
  }

  &.catalog, &.video{
    svg{
      path{
        fill: #828282;
      }
    }
    &.selected
    svg{
    path{
      fill: #828282;
    }
    }
  }


}