@import "scss/index";
.root{
  user-select: none;
  display: flex;
  cursor: pointer;
  &.video{

    display: flex;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    align-items: center;
    padding: 0px 5px;
  }


  &.catalog, &.video{
    .icon {
      background: url('/img/icons/like_outlined_grey.svg');
    }
    &.nonSelected{
      &:hover{
        background: url('/img/icons/like_filled_grey.svg');
      }
    }
    &.selected{
      background: url('/img/icons/like_filled_grey.svg');
      &:hover{
        background: url('/img/icons/like_outlined_grey.svg');
      }
    }
    &.tempSelected{
      &.selected{
        &:hover{
          background: url('/img/icons/like_filled_grey.svg');
        }
      }
      &.nonSelected{
        &:hover{
          background: url('/img/icons/like_outlined_grey.svg');
        }
      }
    }
  }
  &.project {
    .icon {
      background: url('/img/icons/like_outlined_white.svg');
    }
    &.nonSelected{
      &:hover{
        background: url('/img/icons/like_filled_white.svg');
      }
    }
    &.selected{
      background: url('/img/icons/like_filled_white.svg');
      &:hover{
        background: url('/img/icons/like_outlined_white.svg');
      }
    }
    &.tempSelected{
      &.selected{
        &:hover{
          background: url('/img/icons/like_filled_white.svg');
        }
      }
      &.nonSelected{
        &:hover{
          background: url('/img/icons/like_outlined_white.svg');
        }
      }
    }

  }

}
.icon{
  width: 20px;
  height: 19px;
}
