@import "scss/index";

.root {
  position: relative;
  padding: 30px;
}

.title{
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}

.top{
  display: flex;
  justify-content: space-between;
}

.children{
  margin-top: 20px;
}

.btnContainer{
  margin: auto 0;
}

.content{
  width: 441px;
  border-radius: 5px;
  padding: 0;
  border: 0;
  margin: auto;
  position: static;
  inset: 0;
  overflow: hidden;
  background-color: #fff;
  @media screen and (max-width: $sm-mid) {
    margin: auto 22px;
}
}