@import "scss/index";

.iconText{
    margin-top: 63px;
    margin-bottom: 71px;
    display: flex;
    span{
        font-size: 12px;
        color: #27AE60;
        margin: auto;
    }
  }

  .container{
      display: flex;
      justify-content: center;
  }