@import "scss/index";

.root{
  position: relative;
  @media screen and (min-width: $container-lg) {
    width: $container-lg;
    margin:0 auto;
  }

}

.white{
  background-color: #fff;
}

.head{
  display: flex;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.title{
  font-weight: bold;
  font-size: 24px;
  margin-right: 33px;
  @media screen and (max-width: $sm-max) {
    display: flex;
    flex-direction: column;
  }
}

.main{
  font-size: 12px;
  color: #bdbdbd;
  margin-top: 14px;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.duration{
  font-size: 12px;
  color: black;
  margin-top: 20px;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.files{
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.image{
  margin: auto 0;
  @media screen and (max-width: $sm-max) {
    margin: 0 0 5px 0;
    align-self: end;
  }
}

.noFiles{
  display: flex;
  padding: 21px 32px 14px 32px;
  background: #F2F2F2;
  border-radius: 5px;
  margin-top: 23px;
  @media screen and (max-width: $sm-max) {
    padding: 25px 20px;
    margin: 14px 22px 22px 22px;
    flex-direction: column-reverse;
  }
}

.text{
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  @media screen and (min-width: $container-lg) {
    width: 40%;
    margin-right: 111px;
  }
}

.firstText{
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.secondText{
  font-size: 14px;
  color: #000;
  margin-top: 11px;
  @media screen and (min-width: $container-lg) {
    width: 50%;
  }
}

.iconText{
  font-size: 12px;
  color: #27AE60;
  margin: auto 13px auto 0;
  display: flex;
  span{
    width: 50%;
  }
  img{
    width: 19px;
    height: 22px;
    margin-right: 13px;
  }
  @media screen and (max-width: $sm-max) {
    display: none;
  }
}

.clock{
  margin-right: 49px;
  margin-top: 12px;
  @media screen and (max-width: $sm-max) {
    margin: 0;
    width: 30%;
    height: 10%;
  }
}

.human{
  margin-right: 48px;
  @media screen and (max-width: $sm-max) {
    margin-right: 17px;
    width: 40%;
  }
}

.plant{
  @media screen and (max-width: $sm-max) {
    width: 20%;
  }
}

.mainNoFiles{
  display: flex;
  margin-top: 13px;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
  div{
    margin-right: 5px;
    font-size: 16px;
    color: #bdbdbd;
    @media screen and (max-width: $sm-max) {
      font-size: 12px;
    }
    a{
      color: #bdbdbd;
      text-decoration: none;
    }
  }
}

.images{
  display: flex;
}


.create{
  margin: auto 27px auto auto;
  @media screen and (max-width: $sm-max) {
    margin: auto 5px auto 0;
  }
  a{
    display: flex;
  }
  img{
    margin-right: 10px;
  }
  span{
    font-size: 12px;
    color: #828282;
    margin: auto;
    @media screen and (max-width: $sm-max) {
      display: none;
    }
  }
}
.download{
  @media screen and (max-width: $sm-max) {
    margin-right: 20px;
    span{
      display: none;
    }
    button{
      padding: 8px 16px;
      svg{
        margin: auto;
        height: 16px;
      }
    }
  }
}
