@import "scss/index";

.tagCategory{
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 16px;
}

.item{
  padding: 7px 16px;
  background: #F2F2F2;
  border-radius: 50px;
  font-size: 11px;
  color: #828282;
  text-decoration: none;
  position: relative;
}
.tag{
  margin-bottom: 17px;
}