@import "scss/index";


.noFiles{
  display: flex;
  padding: 21px 32px 14px 32px;
  background: #F2F2F2;
  border-radius: 5px;
  margin-top: 23px;

  @media screen and (max-width: $sm-max) {
    padding: 25px 20px;
    margin: 14px 22px 22px 22px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .text{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    @media screen and (min-width: $container-lg) {
      width: 40%;
      margin-right: 111px;
    }
  }

  .firstText{
    font-weight: bold;
    font-size: 24px;
    color: #000;
  }

  .secondText{
    font-size: 14px;
    color: #000;
    margin-top: 11px;
    @media screen and (min-width: $container-lg) {
      width: 50%;
    }
  }
  .images{
    flex: 1;
  }

  .lamp{

    @media screen and (max-width: $sm-max) {

      display: flex;
      align-items: center;
    }
  }
}
