@import "scss/index";
.root{
  display: table-row;
}
.cell{
  display: table-cell;
  font-size: 14px;
  padding: 16px 12px 16px 0px;
  border-top: 1px solid #E0E0E0;
  position: relative;
  vertical-align: middle;
}
.editCell{
  padding: 0px;
  width: 38px;
}
.status{
  font-size: 10px;
}
.statusRegistered{
  color: #27AE60;
}
.statusInviteSent{
  color: #F2C94C;
}
.tags{
  div:first-of-type{
    a:first-child{
      margin-bottom: 0px;
    }
  }
}
