@import "scss/index";

.root{

}

.clearfix{
  margin: 17px 0px 12px 0px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  @media screen and (max-width: $sm-max) {
    display: none;
  }
  &__mobile{
    display: none;
    @media screen and (max-width: $sm-max) {
      margin: 17px 0px 12px 0px;
      display: block;
      overflow: hidden;
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}

.categoryText{
  font-size: 16px;
  font-weight: bold;
  margin-right: 21px;
}

.head{
  display: flex;
  align-items: center;
  margin-top: 0px;
  div{
    &:last-child{
      nav{
        @media screen and (max-width: $sm-max) {
          left: 0;
        }
      }
    }
  }
}

.btnContainer{
  float: left;
}

