@import "scss/index";

.inputContainer{
  position: relative;
  @media screen and (max-width: $sm-max) {
    margin-right: 32px;
  }
  input{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    height: 32px;
    padding-left: 38px;
    &::placeholder{
      font-size: 12px;
      color: #828282;
    }
    @media screen and (max-width: $sm-max) {
      display: none;
    }
  }
  button{
    padding: 4px 0 4px 4px;
    position: absolute;
    top: 0;
    background: transparent;
  }
}

.cross{
  button{
    svg{
      width: 16px;
      height: 24px;
      fill: #828282;
    }
  }
}

.form{
  margin-right: 27px;
  @media screen and (max-width: $sm-max) {
    position: absolute;
    right: 5%;
  }
}

.inputContainer__mobile{
  position: relative;
  input{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    height: 32px;
    padding-left: 38px;
    width: 100%;
    &::placeholder{
      font-size: 12px;
      color: #828282;
    }
  }
  button{
    padding: 4px 0 4px 4px;
    position: absolute;
    top: 0;
    background: transparent;
  }
}