@import "scss/index";

.root{
  display: flex;
  min-height: 100%;
  position:relative;
  flex-direction: column;
}

.container{
  width: $container-lg;
  margin: auto;
  display: flex;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
    width: 100%;
  }
}
