@import "scss/index";

.root{
  position: relative;
}
.button{
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: none;
  text-align: center;
  svg{
    vertical-align: middle;
    fill: #828282;
  }
  &:hover{
   border: 1px solid #BDBDBD;
    svg{
      fill: #828282;
    }
  }
  &:active{
    border: 1px solid #2F80ED;
    svg{
      fill: #2F80ED;
    }
  }
  &.buttonActive{
    border: 2px solid #2F80ED;
    svg{
      fill: #2F80ED;
    }
  }
}


.dropDown {
  background: #ffffff;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 0 0 0;
  z-index: 5;
  min-width: 178px;
  display: flex;
  flex-direction: column;
  right: 0px;
  @media screen and (max-width: $sm-max) {
    right: -200%;
  }
}

.dropDownActive{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border-radius: 5px;
}



.option{
  a{
    font-size: 12px;
    display: block;
    vertical-align: middle;
    color: #000000;
    padding: 6px 10px;

    text-decoration: none;
    &:first-of-type{
      padding-top: 10px;
    }
    &:last-of-type{
      padding-bottom: 10px;
    }
    &:hover{
      background: #F2F2F2;
    }
  }
  &:hover{
    background-color: #F2F2F2;
  }
}
