@import "scss/index";

.root{
  position: relative;
  &.stub{
    background: radial-gradient(104.4% 104.4% at 50.26% -4.4%, #E0E0E0 0%, #D1D6DA 56.34%, #C5CFD6 100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.sizeSmall{
  border-radius: 5px;
  width: 42px;
  height: 42px;
  img{
    border-radius: 5px;
  }
  svg{
    max-width: 75%;
    max-height: 75%;
  }
}
.sizeNormal{
  border-radius: 40px;
  width: 193px;
  height: 193px;
  @media screen and (max-width: $sm-max) {
    width: 128px;
    height: 128px;
    border-radius: 32px;
    img{
      border-radius: 32px;
    }
    svg{
      max-width: 75%;
      max-height: 75%;
    }
  }

}
.sizeLarge{

}
