@import "scss/index";

.root{
  position: relative;
  &.stub{
    background: radial-gradient(104.4% 104.4% at 50.26% -4.4%, #E0E0E0 0%, #D1D6DA 56.34%, #C5CFD6 100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    aspect-ratio: 1;
  }
}
.sizeSmall{
  border-radius: 5px;
  width: 42px;
  height: 42px;
  img{
    border-radius: 5px;
  }
  svg{
    max-width: 75%;
    max-height: 75%;
  }
}
.sizeNormal{
  border-radius: 40px;

    max-width: 100%;
    max-height: 100%;
  img{
    border-radius: 40px;
  }
  @media screen and (max-width: $sm-max) {

    border-radius: 32px;
    img{
      border-radius: 32px;
    }
    svg{
      max-width: 75%;
      max-height: 75%;
    }
  }

  &.stub{
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }

}
.sizeLarge{
  border-radius: 40px;
  height: 307px;
  max-width: 100%;
  overflow: hidden;
  img{
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
  }
  &:hover{
    img {
      transform: scale(1.5);
    }
  }
  svg{
    width: 70%;
    height: 70%;
  }
  @media screen and (max-width: $sm-max) {
    max-width: 100%;
  }
}
