@import "scss/index";

.root{
  position: relative;
  @media screen and (min-width: $container-lg-br) {
    width: $container-lg;
    margin:0 auto;
  }
  @media screen and (max-width: $container-lg-br) {
    padding: 0px 22px;
  }
}

.white{
  background-color: #fff;
}

.title{
  font-weight: bold;
  font-size: 24px;

}

.container{
  width: 70%;
  @media screen and (max-width: $sm-max) {
    width: 100%;
    margin-top: 16px;
  }
}

.inputContainer{
  width: 35%;
  @media screen and (max-width: $sm-max) {
    width: 100%;
  }
  form{
    @media screen and (max-width: $sm-max) {
      margin: 0;
    }
    div{
      @media screen and (max-width: $sm-max) {
        margin: 0;
      }
      input{
        width: 100%;
        display: inline-block;
      }
    }
  }
}

.table{
  display: table;
  margin-top: 33px;
  width: 100%;
  @media screen and (max-width: $sm-max) {
    display: flex;
    flex-direction: column;
  }
}

.tr{
  display: table-row;
  border: 1px solid #E0E0E0;
  @media screen and (max-width: $sm-max) {
    display: none;
  }
}

.td{
  display: table-cell;
  font-size: 12px;
  color: #bdbdbd;
  padding: 16px 12px 16px 0px;
  &:hover{
    color: black;
  }
  cursor: pointer;
  img{
    vertical-align: middle;
  }
}
.tagBtn{
  margin: auto 27px auto auto;
  @media screen and (max-width: $sm-max) {
    margin: auto 0;
    span{
      display: none;
    }
  }
}
