.form{
  display: flex;
  margin-top: 21px;
}

.border{
  border-bottom: 1px solid #828282;
  margin-top: 9px;
}

.title{
  font-weight: bold;
  font-size: 18px;
  color: #828282;
}

.btnContainer{
  display: flex;
}

.section{
  margin-right: 23px;
  width: 40%;
}

.content{
  margin-top: 23px;
  display: flex;
  flex-direction: column;
}

.head{
  font-weight: bold;
  font-size: 16px;
  color: #000;
  margin-bottom: 18px;
  &__right{
    font-weight: bold;
    font-size: 16px;
    color: #000;
    margin-bottom: 6px;
  }
}

.textArea{
  margin-top: 27px;
}

.desc{
  margin-top: 6px;
  display: flex;
  flex-direction: column;

}

.btnContainer{
  margin-bottom: 15px;
  button{
    margin-right: 15px;
  }
}
