@import "../../../../scss/index";

.root{

}

.favorite{
  margin-right: 15px;
  @media screen and (max-width: $sm-mid) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}
.btns{
  display: flex;
  align-items: center;
  margin-top: 23px;
  button{
    margin-right: 20px;
    @media screen and (max-width: $sm-mid) {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: $sm-mid) {
    flex-direction: column;
    margin-top: 14px;
  }
}

.select{
  margin-right: 20px;
  width: 124px;
  @media screen and (max-width: $sm-mid) {
    margin-top: 10px;
  }
  &__down{
    margin-right: 20px;
    width: 109px;
  }
}