@import "scss/index";

.inputContainer{
  margin-bottom: 22px;
}

.back{
  margin-top: 25px;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.head{
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 21px;
}

.tip{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
  margin-top: 9px;
}
