@import "../../../../../scss/index";

.btnContainer{
    display: flex;
    margin-top: 27px;
    button{
        &:first-child{
            margin-right: 24px;
        }
    }
}

.form{
    input{
        &::placeholder{
            font-size: 12px;
            color: #bdbdbd;
        }
    }
}