.root{
  position: relative;
  display: flex;
  padding: 12.5px 0px;

}
.statusIcon{
  border-radius: 50%;
  border: 2px solid #27AE60;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  flex: 1;
  margin-left: 16px;
}
.topBar{
  display: flex;
  align-items: center;
  .name{
    flex: 1;
    font-size: 14px;
  }
}
.deleteButton{
  cursor: pointer;
  padding-right: 8px;
  &:hover{
    svg{
      path {
        fill: #EB5757;
      }
    }
  }
}
.title{
  flex: 1;
}
.image{
  position: relative;
  width: 192px;
  height: 192px;
  img{
    width: 192px;
    height: 192px;
    border-radius: 5px;
  }
}
.loader{
  position: absolute;
  z-index: 3;
  bottom: 20%;
  left: 6px;
  right: 6px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
}
.loaderFill{
  background: #EB5757;
  height: 4px;
  border-radius: 4px;
}

.btn{
  float: right;
  margin-top: 24px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
