@import "scss/index";

.dropDown {
  background: #ffffff;
  position: absolute;
  top: 100%;
  margin-top: 0px;
  opacity: 0;
  visibility: hidden;
  //transform: translateY(-20px);
  //transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0px 0 0 0;
  z-index: 5;
  min-width: 178px;
  display: flex;
  flex-direction: column;
}

.dropDownActive{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  background: #FFFFFF;
  border-radius: 5px;
}

.root{
  @media screen and (min-width: $sm-mid) {
    flex: 1;
    }
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -3px;
}
.link{
  display: flex;
  align-items: center;
  margin-right: 24px;


  svg{
    margin-right: 8px;
  }

    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #828282;
    &:hover {
      color: #828282;
      text-decoration: underline;
    }

  &.isActive{

      color: black;
      font-weight: 500;
    svg{
      path{
        fill: black;
      }
    }
      &:hover {
        color: black;
      }
  }
  @media screen and (max-width: $sm-mid) {
    margin-right: 14px;
    span{
      display: none;
    }
    svg{
      margin-right: 0px;
    }
  }

}



.option{
  a{
    font-size: 12px;
    display: block;
    vertical-align: middle;
    color: #000000;
    padding: 6px 10px;

    text-decoration: none;
    &:first-of-type{
      padding-top: 10px;
    }
    &:last-of-type{
      padding-bottom: 10px;
    }
    &:hover{
      background: #F2F2F2;
    }
  }
  &:hover{
    background-color: #F2F2F2;
  }
  &.isActive{
    a {
      background-color: #F2F2F2;
      font-weight: 500;
    }
  }
}
.mobile{
  display: none;
  @media screen and (max-width: $sm-mid) {
    display: flex;
    align-items: center;
  }
}

.notMobile{
  display: flex;
  align-items: center;
  @media screen and (max-width: $sm-mid) {
    display: none;
  }
}