@import "scss/index";

.root{
  .pagination > div{
    opacity: 0;
  }
  &:hover{
    .pagination > div{
      opacity: 1;
    }
  }

  @media screen and (max-width: $sm-max) {

    .pagination{
      margin-top: 10px;
    }
    .pagination > div{
      opacity: 1;
    }
  }
  :global .fullscreen-enabled{
    background: white;
  }


}
.document{
  position: relative;
  overflow-y: auto;
  overflow-x: auto;
  max-width: 100%;
  max-height: 500px;
  @media screen and (max-width: $sm-max) {
    max-height: 200px;
  }

  @media screen and (max-width: $sm-max) {


  }
}

.fullscreen{
  background: white;
  :global canvas{
    margin: auto;
  }

  .paginationFullScreen{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 200px;
    display: flex;
    padding-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
    > div{
      opacity: 0;
    }
    &:hover{
      > div{
        opacity: 1;
      }
    }

    @media screen and (max-width: $sm-max) {
      height: auto;
    }
  }

  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    svg{
      path {
        fill: #27AE60;
      }
    }
    &:hover{
      svg{
        path {
          fill: black;
        }
      }
    }
  }

}