@import "scss/index";

.root{
  .pagination > div{
    opacity: 0;
  }
  &:hover{
    .pagination > div{
      opacity: 1;
    }
  }
  @media screen and (max-width: $sm-max) {
    .pagination > div{
      opacity: 1;
    }
  }
  height: 500px;
  overflow-y: scroll;
}
.document{
  display: flex;
  align-items: center;
  justify-content: center;
}