.root{
  position: relative;
}

.input{
  border-bottom: 1px solid #E0E0E0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  width: 100%;
  height: 22px;
  margin-bottom: 22px;
  &::placeholder{
    color: #bdbdbd;
  }
}

.error{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  color: #FF1066;
  position: absolute;
  top: 31px;
}