.send{
  position: absolute;
  bottom: 26px;
}

.head{
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 9px 0;
  font-weight: bold;
}

.tip{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}

.fakeMargin{
  height: 18px;
}