@import "scss/index";

.root{
  position: relative;
  @media screen and (min-width: $container-lg) {
    width: $container-lg;
  }
  margin: auto;
}

.category{
  font-size: 14px;
  color: #828282;
  margin-right: 20px;
}

.white{
  background-color: #fff;
}

.titleContainer{
  display: flex;
  margin-top: 30px;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.title{
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  margin-right: 10px;
}

.projects{
  @media screen and (min-width: $container-lg) {
    display: flex;
  }
  @media screen and (max-width: $sm-max) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 22px;
    margin-top: 16px;
    a{
      &:nth-child(n + 5){
        display: none;
      }
    }
  }
}

.more{
  margin-top: 10px;
  img{
    margin-right: 6px;
  }
  span{
    font-size: 12px;
    color: #828282;
  }
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.files{
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.moreFiles{
  margin-top: 10px;
  display: flex;
  margin-bottom: 12px;
  a{
    margin: auto;
    @media screen and (max-width: $sm-max) {
      padding: 0 22px;
      margin: 0;
    }
    img{
      margin-right: 6px;
    }
    span{
      font-size: 12px;
      color: #828282;
    }
  }
}
