@import "scss/index";


.root{
  position: relative;
  @media screen and (min-width: $container-lg) {
    width: $container-lg;
    margin:0 auto;
  }

}

.titleFavorite{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 33px;
  @media screen and (max-width: $sm-max) {

    padding: 0 22px;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
  }
}
.category{
  font-size: 14px;
  color: #828282;
  margin-right: 20px;
}

.white{
  background-color: #fff;
}

.titleContainer{
  display: flex;
  margin-top: 30px;
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.title{
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  margin-right: 10px;

}

.projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
  @media screen and (max-width: $sm-mid) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 22px;
    margin-top: 16px;
  }
}

.hide{
  transform: rotate(180deg);
}



.more{
  margin-top: 10px;
  img{
    margin-right: 6px;
  }
  span{
    font-size: 12px;
    color: #828282;
  }
  @media screen and (max-width: $sm-max) {
    padding: 0 22px;
  }
}

.files{
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.moreFiles{
  margin-top: 10px;
  display: flex;
  margin-bottom: 12px;
  a{
    margin: auto;
    @media screen and (max-width: $sm-max) {
      padding: 0 22px;
      margin: 0;
    }
    img{
      margin-right: 6px;
    }
    span{
      font-size: 12px;
      color: #828282;
    }
  }
}
