@import "scss/index";

.root{
  @media screen and (min-width: $container-lg) {
    border-top: 1px solid #e0e0e0;
  }
  display: flex;
  padding-top: 13px;
  padding-bottom: 8px;
  align-items: center;

  &.withDots{
    .like{
      margin-right: 20px;
    }
  }
  &.deleted{
    .inner{
      cursor: inherit;
    }
  }
}

.inner{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  @media screen and (max-width: $sm-max) {
    margin: auto;
  }
}

.title{
  font-size: 14px;
  color: black;
  @media screen and (max-width: $sm-max) {
    font-size: 10px;
  }
}

.highlight{
  font-size: 11px;
  color: #828282;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.bottom{
  display: flex;
  margin-top: 6px;
  @media screen and (max-width: $sm-max) {
    flex-direction: column-reverse;
    margin-top: 0;
  }
}

.text{
  font-size: 12px;
  color: #828282;
  @media screen and (max-width: $sm-max) {
    font-size: 10px;
  }
}
.encoding{
  color: #828282;
  font-size: 10px;
  margin-right: 27px;
}
.image{
  margin: auto 22px auto 0;
  @media screen and (min-width: $container-lg) {
    width: 2%;
  }
  @media screen and (max-width: $sm-max) {
    margin: auto 8px auto auto;
  }
}

.separator{
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border: 1px solid #828282;
  margin: auto 5px;
  @media screen and (max-width: $sm-max) {
    display: none;
  }
}

.dots{
  position: relative;
  cursor: pointer;
  width: 36px;
  display: flex;
    svg{
      fill: #828282;
      margin: auto;
    }
  &:hover{
    border: 1px solid #2F80ED;
    border-radius: 5px;
      svg{
        fill: #2F80ED;
      }
  }
  &:active{
    border: 2px solid #2F80ED;
    border-radius: 5px;
      svg{
        fill: #2F80ED;
    }
  }
  @media screen and (max-width: $sm-max) {
    display: none;
  }
}

.additional{
  display: flex;
  @media screen and (max-width: $sm-max) {
    display: none;
  }
}




.loader{
  width: 32px;
  height: 32px;
  position: relative;
  .progressCircle{
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  .loaderProgress{
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: black;
    top: 50%;
    margin-top: -5px;
    width: 100%;
  }
}


.jobInfo{
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .statusIcon{
    border-radius: 50%;
    border: 2px solid #27AE60;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .progressCircle{
    width: 32px;
    height: 32px;
    display: inline-block;
  }
  .loader{
    width: 32px;
    height: 32px;
    position: relative;

  }
  .loaderProgress{
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: black;
    top: 50%;
    margin-top: -5px;
    width: 100%;
  }
  .status{
    font-size: 12px;
    margin-left: 8px;
  }
}
.breadcrumbs{
  margin-top: 5px !important;
  a{
    color: #828282;
  }
}