@import "scss/index";
@import 'scss/mixins.scss';
.root{
  position: relative;
  margin-bottom: 20px;
  @media screen and (max-width: $sm-max){
    margin-bottom: 40px;
}
}

.textarea{
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 7px 12px;
  width: 100%;
  height: 150px;
  resize: none;
  &::placeholder{
    color: #828282;
    font-size: 12px;
  }
}

.textareaError{
  @include inputError
}

.error{
  @include error
}