@import "scss/index";

.root{
  padding: 30px 0;
}

.container{
  @media screen and (min-width: $container-lg-br){
    width: $container-lg;
  }
  margin: auto;
  display: flex;
  @media screen and (max-width: $container-lg-br) {
    padding: 0 22px;
    width: 100%;
  }
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  margin-right: 34px;
  text-decoration: none;
  @media screen and (max-width: $sm-max) {
    margin-right: 11px;
  }
}
.speakers{
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover{
    text-decoration: underline #000000;
  }
  &:active{
    color: #000000;
  }
}
.media{
  color: #27AE60;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover{
    text-decoration: underline #27AE60;
  }
  &:active{
    color: #219653;
  }

}

.notMedia{
  display: flex;
  justify-content: flex-end;
  flex: 1;
  position: relative;
  align-items: center;
}

.mobile{
  display: none;
  @media screen and (max-width: $sm-mid) {
    display: flex;
  }
}

.notMobile{
  display: flex;
  @media screen and (max-width: $sm-mid) {
    display: none;
  }
}
