@import "scss/index";

.root{
  padding: 30px 0;
}

.container{
  width: $container-lg;
  margin: auto;
  display: flex;
}

.media{
  font-weight: bold;
  font-size: 24px;
  color: #27AE60;
  margin-right: 34px;
}

.inputContainer{
  position: relative;
  input{
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    height: 32px;
    padding-left: 28px;
  }
  button{
    padding: 4px 0 4px 4px;
    position: absolute;
    top: 0;
    background: transparent;
  }
}

.profile{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.create{
  margin: auto 27px auto auto;
  a{
    display: flex;
  }
  img{
    margin-right: 10px;
  }
  span{
    font-size: 12px;
    color: #828282;
    margin: auto;
  }
}

.form{
  margin-right: 27px;
}